# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


material
Home work/Homework 1 - Casper Kristiansson.docx
PA1 Simplified Linux Shell/.vscode
PA1 Simplified Linux Shell/myshell
PA1 Simplified Linux Shell/f2022_pa1_input_test_cases/__MACOSX
Homework/Homework 2/Homework 2 - Casper Kristiansson.docx
Operating Systems Midterm.docx
Homework/Homework 3/Homework 3 - Casper Kristiansson.docx
Homework/Homework 4/Operating Systems HW4 - Casper Kristiansson.docx
Final/Print/Operating Systems Final Lookup Table.pdf
Final/Print/Operating System Final Slides.pdf
Final/Print/Final Summary Print.pdf
Final/Operating Systems Final Summary.docx
Final/Operating Systems Final Lookup Table.docx
Final/Final Summary Print.docx
